<div id="addForm">
  <h2>Add Quote</h2>
  <form #quoteForm='ngForm' (ngSubmit)='submitQuote()'>

    <label for='saying'>Quote</label>
    <input type='text' required class='form-control' id='saying'
    [(ngModel)]='newQuote.saying' saying='saying' 
    [ngModelOptions]='{standalone: true}' #saying='ngModel'><br>
    <div [hidden]='saying.valid || saying.pristine'>
      <p>Quote can't be empty</p>
    </div>

    <label for='author'>Author</label>
    <input type='text' required class='form-control' id='author'
    [(ngModel)]='newQuote.author' author='author' [ngModelOptions]='{standalone: true}' #author='ngModel'><br>
    <div [hidden]='author.valid || author.pristine'>
        <p>Author can't be empty</p>
      </div>

    <label for='submitter'>Submitted By:</label>
    <input type='text' required class='form-control' id='submitter'
    [(ngModel)]='newQuote.submitter' submitter='submitter' [ngModelOptions]='{standalone: true}' #submitter='ngModel'><br>
    <div [hidden]='submitter.valid || submitter.pristine'>
        <p>Enter a valid name</p>
      </div>

    <label for='published'>Publication Date</label>
    <input type='date' required id='published' #date='ngModel'
    [(ngModel)]='newQuote.publishedDate' [ngModelOptions]='{standalone: true}' date='date'>
    <div [hidden]='date.valid || date.pristine'>
        <p>Date can't be valid</p>
      </div><br>

      <button type='submit' id="submitQuote">Submit Quote</button>

  </form>
</div>
